<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <!-- Asignamos en form una variable gloabal #clienteForm con el objeto ngForm -->
    <!-- con este objeto podemos saber si este objeto es valido o no -->
    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <!-- Con #nombre asignamos a una variable local y podemos usar el mismo nombre que el campo
          y #nombre le asignamos la variabl de objejo ngModel y este objeto es el que contiene los mensajes de error -->
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre"
           name="nombre" #nombre="ngModel"> <!-- required minlength="4" -->
            <!-- nombre.touched muestra el error si hay cuanso se pierde el focu de input -->
          <div class="alert alert-danger" 
          *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <!-- Este if con nombre hace referencia a #nombre -->
            <div *ngIf="nombre.errors.required">
              Nombre es requerido
            </div>
            <div *ngIf="nombre.errors.minlength">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" #apellido="ngModel"> <!-- required -->
          <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">
              Apellido es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
                <!-- Con #email asignamos a una variable local y podemos usar el mismo nombre que el campo
          y #email le asignamos la variabl de objejo ngModel y este objeto es el que contiene los mensajes de error -->

          <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel"> <!-- required email -->
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              Email es requerido
            </div>
            <div *ngIf="email.errors.email">
              Email debe tener un formato válido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>
